:root {
   --text-color: 0 0% 15%;
   --background-color: 0 0% 100%;
   --accent-color: 275 83% 60%;
   --grey-color: 0 0% 63%;
}

:root.dark {
   --text-color: 0 0% 100%;
   --background-color: 0 0% 15%;
}